/* INHERITANCE */

/* not all properties will be inherited */

/* LAST RULE AND SPECIFITY */
/* CSS applies last rule regardless of what you have inbetween */
p{
 color: blue;
}

p{
color: yellowgreen;
}
/* END */

/* SPECIFICITY */
/* CSS OVERRIDES THE LAST RULE AND APPLIES THE SPECIFICITY MEASUREMENT */
.red{
 color: red;
}

p{
 color: blue;
}
/* END */
